* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a6580;
}

#quiz-container {
    width: 30%;
    margin-left: 550px;
    margin-top: 180px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f5f5f5;
    padding: 50px;
}

#question, #score-display {
    margin-top: 20px;
}

#option-A {
    margin-top: 10px;
}

.option {
    margin: 3px;
    padding: 6px;
    border-radius: 5px;
    background-color: #2b3868;
    color: #dbdde5;
}

h1 {
    text-align: center;
}